@use 'var.scss' as var;
@use 'sass:color';

body {

    background-color: var.$federal_blue;

}

.section {

    background-color: color.adjust(var.$persian_blue, $lightness: 20%);

    /* this counts as colour right */

    filter: drop-shadow(0 0 2rem color.adjust(var.$persian_blue, $lightness: 20%));

}

p, h1, h2, h3{

    color:color.adjust(var.$sky_blue, $lightness: 30%);


}

.footer {

    background-color: color.adjust(var.$persian_blue, $lightness: 20%);
}

